
body
{
    background-color: rgb(35, 38, 39);
}

canvas
{
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}

.textBox
{
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    color: #4c4506;
    border: none;
    outline: none;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 500px;
    height: 100px;
    font-family: 'otsutome';
    font-size: 48px;
}

@font-face {
    font-family: 'otsutome';
    src: url('otsutome.ttf') format('truetype');
}

@font-face {
    font-family: 'kosugimaru';
    src: url('kosugimaru.ttf') format('truetype');
}